<!DOCTYPE html>
<html lang="{{ html_lang }}">
<head>
        {% block head %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {%- if page.title == site_name %}
        <title>{{ site_name }}</title>
        {% else %}
        <title>{{ page.title }} | {{ site_name }}</title>
        {% endif -%}
        {% block extra_head %}{% endblock extra_head %}
        <link href="{{ docroot }}/bootstrap.min.css" rel="stylesheet">
        <script src="{{ docroot }}/bootstrap.bundle.min.js"></script>
        {% endblock head %}
</head>
<body>

<header><a href="{{ docroot }}/">{{ site_name }}</a></header>

<h1>{% block title %}{{ page.title }}{% endblock %}</h1>

<nav>
        {% for item in navigation_items %}
        <li class="{% if item.page == page %}active{% endif %}"><a href="{{ item.href }}">{{ item.label }}</a></li>
        {% endfor %}
</nav>

<div id="content">
{% block content %}{% endblock %}
</div>

</body>
</html>
